---
import rules from '../../data/data.json';

export async function getStaticPaths() {
  return rules.map(rule => ({
    params: {
      api: rule.api_name.startsWith('_') ? `u${rule.api_name}` : rule.api_name,
    },
  }));
}

const { api } = Astro.params;
const normalizedApi = api.startsWith('u_') ? `_${api.slice(2)}` : api;
const rule = rules.find(r => r.api_name === normalizedApi || r.api_name === api);
---


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{rule.lib_name} - {rule.tool_name} - {rule.api_name}</title>
</head>
<body>
  <header>
    <h1>{rule.lib_name} - {rule.tool_name} - {rule.api_name}</h1>
    <nav>
      <a href={import.meta.env.BASE_URL}>Return to Homepage</a>
    </nav>
  </header>

  <main>
    <h2>Rule Profile</h2>
    <p><strong>Description: </strong>{rule.rule.Description}</p>
    <p><strong>Lib Name: </strong>{rule.lib_name}</p>
    <p><strong>Tool Name: </strong>{rule.tool_name}</p>
    <p><strong>Label: </strong>{Array.isArray(rule.rule.Label) ? rule.rule.Label.join(', ') : 'N/A'}</p>
    <p><strong>Parameter Index: </strong>{Array.isArray(rule.rule['Parameter-index']) ? rule.rule['Parameter-index'].join(', ') : 'N/A'}</p>

    {rule.rule['cweType-and-QLCode'].map(cwe => (
      <div>
        <h4>CWE Type：{Array.isArray(cwe.cweType) ? cwe.cweType.join(', ') : 'N/A'}</h4>
        <h4>QLCode:</h4>
        <pre>{cwe.QLCode}</pre>
      </div>
    ))}
  </main>
</body>
</html>