---
import { json } from '@astro/types';
import data from '../data/data.json';

const rules = data;
const categorizedRules = rules.reduce((acc, rule) => {
  if (!acc[rule.lib_name]) {
    acc[rule.lib_name] = {};
  }
  if (!acc[rule.lib_name][rule.tool_name]) {
    acc[rule.lib_name][rule.tool_name] = [];
  }
  acc[rule.lib_name][rule.tool_name].push(rule);
  return acc;
}, {});
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>漏洞规则库 Homepage: All Rules</title>
  <style>
    ul {
      list-style-type: none;
      padding-left: 0;
    }
    section {
      margin-bottom: 20px;
    }
    h3 {
      margin-left: 20px;
      margin-top: 20px;
    }
    h4 {
      margin-left: 20px;
      font-weight: normal;
    }
    li {
      margin-left: 40px;
    }
  </style>
</head>
<body>
  <header>
    <h1>漏洞规则库 Homepage: All Rules</h1>
    <p>Notice: items starting with 'u_' are to bypass the Github Page restrictions.</p>
  </header>

  <main>
    {Object.keys(categorizedRules).map(libName => (
      <section>
        <h2>{libName}</h2>
        {Object.keys(categorizedRules[libName]).map(toolName => (
          <div>
            <h3>{toolName}</h3>
            <ul>
              {categorizedRules[libName][toolName].map(rule => {
                const apiName = rule.api_name.startsWith('_') ? `u${rule.api_name}` : rule.api_name;
                return (
                  <li>
                    <a href={`${import.meta.env.BASE_URL}rule/${apiName}`}>{`${apiName}`}</a>
                  </li>
                );
              })}
            </ul>
          </div>
        ))}
      </section>
    ))}
  </main>
</body>
</html>
